.header-box{
  width: 100%;
  height: 40px;
  background: #000;
}
.header-box .account-box{
  width: 200px;
  float:right;
}
.header-box .account-box .current{
  display: block;
  font-size: 14px;
  color:#fff;
  width: 100px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
  text-align: right;
}
.header-box .account-box .logout{
  display: block;
  font-size: 14px;
  color:#fff;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  float: left;
  cursor: pointer;
}
.header-box .account-box .logout *{
  color: #fff;
}
