.chat-box {
  width:1000px !important;
  
}

.chat-box .loginUser{
  font-size: 12px;
  color: #666;
}

.chat-main{
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #999;
}

.chat-main .chat-usertitle {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background: #666;
}

.chat-main .chat-userlist {
  width: 100%;
  height:469px;
  overflow-y: auto;
  border-right:1px solid #999;
  border-left:1px solid #999;
}

.chat-main .chat-userlist ul {
  list-style: none;
  width: 100%;
}

.chat-main .chat-userlist ul li {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-size: 14px;
  color: #666;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid #999;
  cursor: pointer;
}
.chat-main .chat-userlist ul li:hover{
  background: #eee;
}
.chat-main .chat-userlist ul li .msgcount{
  position: absolute;
  padding: 0px 5px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  background: red;
  text-align: center;
  font-size: 10px;
  color: #fff;
  top:10px;
  right: 5px;
  border-radius: 5px;
}

.txt-SearchName{
  width: 100%;
  height: 40px;
  font-size: 12px;
}